<header class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto">
    <img
    class="rounded-full w-24 h-24 ml-3"
        alt="AlvaroGomez"
        src="https://i.pinimg.com/736x/82/14/70/82147018a20b6ea00f3d7f257b65b10e.jpg"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
            <a href="#top">Inicio</a>
            <a href="#experiencia">Experiencia</a>
            <a href="#tech">Tecnologías</a>
    </nav>
</header>
